<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css"  href="style.css">
  <link rel="stylesheet" type="text/css"  href="muen.css">
  <!-- 引入axios套件，用來透過HTTP協定在網頁內呼叫後端的API -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- 引入Vue.js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>隨機聊天室</title>
</head>
<body id="app">
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
    <ul>
  <li><a href="watching_movie.html">已看過清單</a></li>
  <li><a href="rating_movie.html">已評分過清單</a></li>
  <li><a href="#">尋找影片</a></li>
  <li><a href="moviedata.html">電影頁面</a></li>
  <li><a href="login.html">登入</a></li>
</ul>
</div>
<div class="menu">
  <a href="#" class="back"><i class="fa fa-angle-left"></i></a>
  <div class="name">Random chat</div>
<div class="members"><b>You</div>
</div>
<ol class="chat">
<li class="other">
<div class="msg">
對方傳的內容
<time>時間戳記</time>
</div>
</li>

<li class="self">
<div class="msg">
<p>我傳送的內容</p>
<time>時間戳記</time>
</div>
</li>
<ul>
  <li v-for="message in messages" :class="message.sender">
    <div class="msg"  >
      <p>{{ message.content }}</p>
      <time>{{ message.timestamp }}</time>
    </div>
  </li>
</ul>

</ol>
<div class="typezone">
  <div class="typezone">
    <form>
      <textarea type="text" placeholder="Say something" v-model="newMessage" @keydown.enter.prevent="sendMessage">
      </textarea>
<input type="submit" class="send" value="" @click="sendMessage" />
    </form>
</body>
<script lang="javascript">

	const {createApp} = Vue
	//建立vue物件
	createApp({
	    data() {
        el: '#app'
		 // 這裡出現的變數才可以在網頁內使用
		  return {
		   showWarning: false, // 開關警告訊息用
       messages: [], // 存儲聊天消息的數組
       newMessage: "" // 用於綁定輸入框的值
		}
	},
	   //新增watch方法
	  watch: {
		   // 監看
      },

	   //vue 的方法放這裡
	  methods: {
      match() {
        fetch("/api/match", {
          method: "POST",
        })
        .then(response => {
          if (response.ok) {
            return response.text(); // 獲取配對到的 ID
          } else {
            throw new Error("Failed to match.");
          }
        })
        .then(matchedId => {
          // 進行配對後的處理
          console.log("Matched ID:", matchedId);
        })
        .catch(error => {
          console.error(error);
        });
      }
    },
      sendMessage() {
        // 按下發送按鈕時觸發的方法
        if (this.newMessage.trim() !== "") {
          this.messages.push({
            sender: "self",
            content: this.newMessage,
            timestamp: new Date().toLocaleTimeString() // 添加時間戳記
          });
          this.newMessage = ""; // 清空輸入框
        }
      }
      
   }).mount('#app');




</script>
</html>